<h1>Welcome to trains</h1>
<a href="/operator"><button type="button" name="operator" class="btn btn-danger">I'm an operator</button></a>
<a href="/passenger"><button type="button" name="passenger" class="btn btn-primary">I'm a passenger</button></a>
