<!DOCTYPE html>
<html>
  <head>
    <title>Train fun fun fun fun</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='css/styles.css' type='text/css'>
    <script type="text/javascript">
     function dynInput(cbox) {
      if (cbox.checked) {
        var input = document.createElement("input");
        input.type = "text";
        var div = document.createElement("div");
        div.id = cbox.name;
        div.innerHTML = "Text to display for " + cbox.name;
        div.appendChild(input);
        document.getElementById("insertinputs").appendChild(div);
      } else {
        document.getElementById(cbox.name).remove();
      }
    }
    </script>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
